{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form as wtf %}
{% from 'bootstrap/form.html' import render_field as wtf_field %}

{% block app_content %}
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST">
                {{ form.csrf_token() }}
                <div class="form-row">
                    <div class="col">
                        {{ wtf_field(form.username, placeholder='Username') }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        {{ wtf_field(form.password, placeholder='Password') }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        {{ wtf_field(form.remember_me) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        {{ wtf_field(form.submit, button_map={'submit': 'primary'}) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <p>New User? <a href="{{ url_for('register') }}">Register!</a></p>
        </div>
    </div>
{% endblock %}


    <!-- <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Register!</a></p> -->