{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form as wtf %}
{% from 'bootstrap/form.html' import render_field as wtf_field %}

{% block app_content %}
    <h1>{{ current_user.firstname }}'s Calendar <img src="https://img.icons8.com/color/48/000000/calendar.png"></h1>
    <hr><br>

    <form>
    <div class="table-responsive-md">
        <table class="table table-light table-hover">
            <!-- <caption>Food Schedule</caption> -->
            <thead class="thead thead-light">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Breakfast</th>
                    <th scope="col">Lunch</th>
                    <th scope="col">Dinner</th>
                </tr>
            </thead>
            <tbody>
                {% for n in range(current_date.day, last_day+1) %}
                <tr>
                    <th scope="row">{{ current_month }} {{ n }}, {{ current_date.year }}</th>
                    <td>
                        <input class="form-control" placeholder="breakfast">
                    </td>
                    <td>
                        <input class="form-control" placeholder="lunch">
                    </td>
                    <td>
                        <input class="form-control" placeholder="dinner">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br>
{% endblock %}