{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form as wtf %}
{% from 'bootstrap/form.html' import render_field as wtf_field %}

{% block app_content %}
    <h1>{{ current_user.firstname }}'s Calendar <img src="https://img.icons8.com/color/48/000000/calendar.png"></h1>
    <hr><br>

    <form>
    <div class="table-responsive-md">
        <table class="table table-light table-hover">
            <!-- <caption>Food Schedule</caption> -->
            <thead class="thead thead-light">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Breakfast</th>
                    <th scope="col">Lunch</th>
                    <th scope="col">Dinner</th>
                </tr>
            </thead>
            <tbody>
                {% for n in range(current_date.day, last_day+1) %}
                <tr>
                    <th scope="row">{{ current_month }} {{ n }}</th>
                    <td>
                        <select class="form-control">
                            {%- for f in range(food_items|length) -%}
                            {%- if food_items[f].breakfast %}
                            <option>{{ food_items[f].item }}</option>
                            {%- endif %}
                            {%- endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            {%- for f in range(food_items|length) -%}
                            {%- if food_items[f].lunch %}
                            <option>{{ food_items[f].item }}</option>
                            {%- endif %}
                            {%- endfor %}
                        </select>
                    </td>
                    <td>
                        <select class="form-control">
                            {%- for f in range(food_items|length) -%}
                            {%- if food_items[f].dinner %}
                            <option>{{ food_items[f].item }}</option>
                            {%- endif %}
                            {%- endfor %}
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br>

    <!-- Testing calendar view type table here:  -->
    <div class="table-responsive-md">
        <table class="table table-light table-hover">
            <thead class="thead thead-light">
                <tr>
                    <th scope="col">Sunday</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                </tr>
            </thead>
            <tbody>
                {%- for n in range(0,5) %}
                <tr>
                    {%- for d in range(1,8) %}
                    {%- if ((n*7)+d) <= last_day %}
                    <td>{{ (n*7)+d }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

    
{% endblock %}