{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form as wtf %}
{% from 'bootstrap/form.html' import render_field as wtf_field %}

{% block app_content %}
    <h1>{{ user.firstname }}'s Profile Page</h1>
    <br>
    
    <h5>First Name</h5>
    <p>{{ user.firstname }}</p>
    <br>

    <h5>Last Name</h5>
    <p>{{ user.lastname }}</p>
    <br>

    <h5>Username</h5>
    <p>{{ user.username }}</p>
    <br>

    <h5>Email</h5>
    <p>{{ user.email }}</p>
    <br>

    {% if user == current_user %}
        <a class="btn btn-outline-primary"  href="{{ url_for('edit_profile') }}" role="button">Edit your profile</a>
    {% endif %}

    <br><br>
    
    <!-- Admin settings -->
    {% if (user == current_user) and (user.user_role.value == 'admin') %}
        <h3>All Users</h3>
        <form method="POST" class="form">
            {{ form.csrf_token() }}
            {{ wtf_field(form.searchBox, placeholder='Search by username...', class="form-control mb-2 mr-sm-2") }}
        </form>
        <div class="table-responsive-md">
            <table class="table table-hover">
                <caption>List of users</caption>
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">User Role</th>
                        <!-- <th scope="col">Delete Account</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for u in users %}
                    <tr>
                        <td>{{ u.id }}</td>
                        <td>{{ u.firstname }}</td>
                        <td>{{ u.lastname }}</td>
                        <td>{{ u.username }}</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.user_role.value }}</td>

                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}


{% endblock %}